body {
  font-family: Arial, sans-serif;
  background-image: url('https://i.pinimg.com/736x/8a/cf/49/8acf492d4892a6399bb0d96fdb596f67.jpg');
  background-size: 50%; /* Set the background image size to medium */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center center; /* Center the background image both horizontally and vertically */
}

.container {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for better readability */
  padding: 20px;
  max-width: 800px;
  margin: 200px auto; /* Adjust margin to lower the container */
  text-align: center;
}

h1 {
  color: #333;
}

p {
  color: #666;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
