<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TermProject</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Welcome to our Microservice Termproject</h1>
    <p>Member of Sleeping beauties sheena, gayathri, ederlinda, sheruby</p>
  </div>
</body>
</html>
